<ion-view style="" id="page5" title="kursi">
    <ion-content class="has-header" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left balanced">
                <img src="img/8X5FSTyYRzaU4gn4EOxw_images.jpg">
                <h2balanced>kursi teas
                    <p>RP. 35.000</p>
                </h2balanced>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left balanced">
                <img src="img/OUYpiMMSvaUvgYzDGH4f_images1.jpg">
                <h2balanced>kursi santai
                    <p>Rp. 76.000</p>
                </h2balanced>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left positive">
                <img src="img/WgfE9WYS5iG4eVYKd32u_unduhan1.jpg">
                <h2positive>kursi empuk
                    <p>Rp. 87.000</p>
                </h2positive>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>