<ion-view style="background-color: rgb(128, 228, 197);" id="page7" title="lemari">
    <ion-content class="has-header" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left">
                <img src="img/qkSD0TEhRKmqeXHW735h_images (1).jpg">
                <h2>lemari dpur</h2>
                <p>Rp. 500.000</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img src="img/KaWHd9j8QpKS9I3tYyba_lemari7.jpg">
                <h2>lemari kacaa</h2>
                <p>Rp. 4500.000</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img src="img/kTOoD2N3STqvq8FiCW4i_lemari3.jpg">
                <h2>lemari putih</h2>
                <p>Rp. 400.000</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>