<ion-view style="background-color: rgb(196, 184, 225);" id="page6" title="meja">
    <ion-content class="has-header" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left">
                <img src="img/nzptfrwRTsu80YVQV1c6_meja1.jpg">
                <h2>meja sederhana</h2>
                <p>Rp. 98.000</p>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left assertive">
                <img src="img/PFFlfN0MSouatX9N8w1R_meja6.jpg">
                <h2assertive>meja tingkat
                    <p>190.000</p>
                </h2assertive>
            </ion-item>
            <ion-item style="" class="item-thumbnail-left">
                <img src="img/LG7iLDSs2jfcsniPIlwE_meja7.jpg">
                <h2>meja makan jpang</h2>
                <p>Rp. 200.000</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>