<ion-view style="" id="page1" title="Tabs Controller">
    <ion-tabs style="" class="tabs-stable tabs-icon-top">
        <ion-tab style="" title="meja" icon="ion-android-image" href="#/page1/pmeja">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="kursi" icon="ion-android-image" href="#/page1/pkursi">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="lemari" icon="ion-android-image" href="#/page1/plemari">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="ranjang" icon="ion-android-image" href="#/page1/pranjang">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>